<ion-view view-title="CSS">
  <ion-content class="padding">

      <a class="button icon icon-right ion-chevron-right" href="#/tab/buttons">Buttons</a>
      <!--<a class="button icon icon-right ion-chevron-right" ui-sref="buttons">Buttons</a>-->

      <!--<div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>-->
  </ion-content>
</ion-view>
