<ion-view view-title="JS Components">
    <ion-content>
        <a class="button button-block" href="#" ng-click="showActionSheet()">Action Sheet</a>
        <a class="button button-block" href="#" ng-click="showLoading()">Loading</a>
        <a class="button button-block" href="#" ng-click="showPopover($event)">Popover</a>
        <a class="button button-block" href="#" ng-click="openModal()">Modal</a>

        <div class="button-bar">
            <a class="button button-positive" ng-click="showPopup()">Popup</a>
            <a class="button button-assertive" ng-click="showAlert()">Alert</a>
            <a class="button button-calm" ng-click="showConfirm()">Confirm</a>
        </div>
    </ion-content>
</ion-view>
