<ion-view view-title="CSS">
  <ion-content class="padding">

      <a class="button button-block icon icon-right ion-chevron-right" href="#/tab/buttons">Buttons</a>
      <a class="button button-block icon icon-right ion-chevron-right" ui-sref="tab.forms">Forms</a>
      <a class="button button-block icon icon-right ion-chevron-right" ui-sref="tab.controls">Other Inputs</a>
      <a class="button button-block icon icon-right ion-chevron-right" ui-sref="tab.lists">Lists</a>

  </ion-content>
</ion-view>
