<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- CSS Components Tab -->
  <ion-tab title="CSS Components" icon-off="ion-social-css3-outline" icon-on="ion-social-css3" href="#/tab/css">
    <ion-nav-view name="tab-css"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="JS Components" icon-off="ion-social-javascript-outline" icon-on="ion-social-javascript" href="#/tab/js">
    <ion-nav-view name="tab-js"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Events & Plugins" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/event">
    <ion-nav-view name="tab-event"></ion-nav-view>
  </ion-tab>


</ion-tabs>
