<ion-view view-title="Plugins">
    <ion-content class="padding">

        <div class="card">
            <div class="item item-divider">
                Device Information
            </div>
            <div class="item item-text-wrap">
                <div class="row">
                    <div class="col col-50"><strong>Cordova:</strong></div>
                    <div class="col col-50">{{device.cordova}}</div>
                </div>
            </div>
            <div class="item item-text-wrap">
                <div class="row">
                    <div class="col col-50"><strong>Model:</strong></div>
                    <div class="col col-50">{{device.model}}</div>
                </div>
            </div>
            <div class="item item-text-wrap">
                <div class="row">
                    <div class="col col-50"><strong>Platform:</strong></div>
                    <div class="col col-50">{{device.platform}}</div>
                </div>
            </div>
            <div class="item item-text-wrap">
                <div class="row">
                    <div class="col col-50"><strong>UUID:</strong></div>
                    <div class="col col-50">{{device.uuid}}</div>
                </div>
            </div>
            <div class="item item-text-wrap">
                <div class="row">
                    <div class="col col-50"><strong>Version:</strong></div>
                    <div class="col col-50">{{device.version}}</div>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
