<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Buttons">
  <ion-content class="padding">
      <button class="button">
          Default
      </button>
      <button class="button button-block button-positive">
          Block Button
      </button>
      <p>
          <button class="button button-small button-assertive">
              Small Button
          </button>
      </p>
      <p>
          <button class="button button-medium button-energized">
              Medium Button
          </button>
      </p>
      <p>
          <button class="button button-large button-balanced">
              Large Button
          </button>
      </p>
      <p>
          <button class="button button-outline button-positive">
              Outlined Button
          </button>
      </p>
      <p>
          <button class="button button-clear button-royal">
              Clear Button
          </button>
      </p>
      <p>
          <button class="button icon-left ion-home">Home</button>
      </p>

      <p>
          <button class="button icon-left ion-star button-calm">Favorites</button>
      </p>

      <p>
          <a class="button button-outline icon-right ion-navicon button-balanced">Reorder</a>
      </p>

      <div class="button-bar bar-light">
          <a class="button">First</a>
          <a class="button">Second</a>
          <a class="button">Third</a>
      </div>
  </ion-content>
</ion-view>
