<ion-view view-title="Slide Box">

    <ion-content>
        <ion-slide-box does-continue="true">
            <ion-slide>
                <div class="box blue"><h1 style="margin:100px 0px;text-align:center;">SLIDE 1</h1></div>
            </ion-slide>
            <ion-slide>
                <div class="box yellow"><h1 style="margin:100px 0px;text-align:center;">SLIDE 2</h1></div>
            </ion-slide>
            <ion-slide>
                <div class="box pink"><h1 style="margin:100px 0px;text-align:center;">SLIDE 3</h1></div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>
