<ion-view view-title="Slide Box">
    <ion-content>
        <div class="row">
            <div class="col col-33 spinner-padding"><ion-spinner icon="android" class="spinner-android"></ion-spinner></div>
            <div class="col col-33 spinner-padding"><ion-spinner icon="ios" class="spinner-ios"></ion-spinner></div>
            <div class="col col-33 spinner-padding"><ion-spinner icon="spiral" class="spinner-assertive"></ion-spinner></div>
        </div>

        <div class="row">
            <div class="col col-33 spinner-padding"><ion-spinner icon="bubbles" class="spinner-energized"></ion-spinner></div>
            <div class="col col-33 spinner-padding"><ion-spinner icon="circles" class="spinner-calm"></ion-spinner></div>
            <div class="col col-33 spinner-padding"><ion-spinner icon="crescent" class="spinner-assertive"></ion-spinner></div>
        </div>

        <div class="row">
            <div class="col col-33 spinner-padding"><ion-spinner icon="dots" class="spinner-royal"></ion-spinner></div>
            <div class="col col-33 spinner-padding"><ion-spinner icon="lines" class="spinner-balanced"></ion-spinner></div>
            <div class="col col-33 spinner-padding"><ion-spinner icon="ripple" class="spinner-assertive"></ion-spinner></div>
        </div>

    </ion-content>
</ion-view>
